<!DOCTYPE html>
<html>
  <head>
    <!-- Replace "X.Y.Z" with the Inquiry SDK version you want to use. -->
    <script src="https://cdn.withpersona.com/dist/persona-v5.1.5.js"></script>

    <!-- charset and viewport meta tags are required! -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <style>
      .back-to-orders-btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .back-to-orders-btn:hover {
        background-color: #0056b3;
      }
    </style>
  <body>
    <a href="{% url 'orders' %}" class="back-to-orders-btn">BACK TO ORDERS</a>

    <!-- Initialize the Persona client in whichever way is appropriate for your application. -->
    <script>
      const client = new Persona.Client({
        templateId: "itmpl_7CxBqeDA5ngL9YRJ2ALRJp7Q27JD",
        referenceId: {{ userId }},
        environment: "sandbox",
        onReady: () => client.open(),
        onCancel: ({ inquiryId, sessionToken }) => console.log('onCancel'),
        onError: (error) => console.log(error),
        onEvent: (name, metadata) => console.log('onEvent'),
        onComplete: ({ inquiryId, status, fields }) => {
            console.log("INQUIRE ID:", inquiryId);
            if (status === "completed") {
                fetch('/verified/{{ orderId }}/'+inquiryId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
            }
        }
      });
    </script>
  </body>
</html>